/* Journey to the Center of the Earth Practicum */ 
/* Andrew Royer */

header {

margin: 20px ;
padding: 20px;
border: 20px color=rgb(136,102,68); 
box-shadow: 10px 10px 10px rgba(255,255 ,255, 0.75) inset;
border-radius: 15px


}

body{




    margin: 20px;
    border: 20px color=rgb(136,102,68); 
    box-shadow: 10px 10px 10px rgba(255,255 ,255, 0.75) inset;
    background: linear-gradient(180deg, rgb(118,87,41), black);
    background-attachment: fixed;
    background-color: rgba(255,255 ,255, 0.75);
    
  



}
nav {

    margin: 20px;
    padding: 20px ;
    border: 20px color=rgb(136,102,68); 
    box-shadow: 10px 10px 10px rgba(255,255 ,255, 0.75) inset;
    background-color: rgba(255,255 ,255, 0.75);
  

}



main {

    margin:  20px;
    padding: 20px ;
    border: 20px color=rgb(136,102,68); 
    box-shadow: 10px 10px 10px rgba(255,255 ,255, 0.75) inset;
    background-color: rgba(255,255 ,255, 0.75);
   



}



aside {




    margin: 20px ;
    padding: 20px ;
    border: 20px color=rgb(136,102,68); 
    box-shadow: 10px 10px 10px rgba(255,255 ,255, 0.75) inset;
    background-color: rgba(255,255 ,255, 0.75);

}


footer {





    margin: 20px ;
    padding: 20px ;
    border: 20px color=rgb(136,102,68); 
    box-shadow: 10px 10px 10px rgba(255,255 ,255, 0.75) inset;
    border-radius: 15px 
    
}

h2 {


text-decoration: underline;




}

a{



color:black;
text-decoration: none;


}

a:hover {

    color: rgb(165,42,42);
    text-decoration: underline;
  }
  main.img {


    float:left; 
    width:500px;
    max-width: 90%;
      
  }

 img {


    float:left; 
    width:auto;
    max-width: 90%;
      
  }

  :lang(fr) :lang(is) :lang(it) {


font-style: italic;



  }

  .characater {

font-weight: bolds;

  }
/* Finish 1 week */